.cards {
  position: relative;
  width: 350px;
  height: 600px;

  margin-top: 30px;
  background-color: #000000;
  border-radius: 10px;
  padding: 15px;
  padding-right: 15px;
  overflow: hidden;
  z-index: 99;
}

.cards::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: conic-gradient(from 0deg, #d111d1, #f48fb1, #d111d1);
  border-radius: 13px;
  z-index: -1;
  animation: spin 6s linear infinite;
}

.cards::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;

  background: #000000;
  border-radius: 10px;
  z-index: 0;
}

.titlec {
  font-size: 20px;
}

.cscenario {
  font-family: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.titlec,
.cscenario,
.goal,
.rank,
.percentage,
.button,
.button1,
.button2 {
  z-index: 1;
}
